{%extends "base.html" %}

{%block content %}

<div class="container">
    <h1> ADD.html </h1>
    <h2>Añadir un nuevo auto a la base de datos:</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="brand">Marca:</label>
            <input class="form-control" type="text" id="brand" name="brand">
        </div>
        <div class="form-group">
            <label for="year">Año:</label>
            <input class="form-control" type="text" id="year" name="year">
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
</div>

{%endblock content%}